body {
    margin: 0;
    background-color:#fff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
    width: 1000px;
    float: left;
    margin-top: 50px;
    margin: calc(50% - 500px);
    display: inline-block;   
}

.label-1 {
    float: left;
    width: 20%;
    margin-top: 100px;
    margin-left: 5%;
}

.title-1 {
    margin-top: 10px;
}

.label-2 {
    float: left;
    width: 20%;
    margin-top: 100px;
    margin-left: 5%;
}

.title-2 {
    margin-top: 50px;
}

.label-3 {
    float: left;
    width: 20%;
    margin-top: 100px;
    margin-left: 5%;
}

.title-3 {
    margin-top: 30px;
    
}
.label-4 {
    float: left;
    width: 20%;
    margin-top: 100px;
    margin-left: 5%;
}

.title-4 {
    margin: 10px;
}