body {
    margin: 0;
    background-color:white;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Tahoma, Geneva, Verdana, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Times, serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
    width: 1000px;
    display: inline-block;
    margin: calc(50% - 500px);
}
.label {
    float: left;
    width: 25%;
    padding: 30px;
    box-sizing: border-box;
}

.title {
    font-size: 20px;
    color: rgb(233, 84, 38);
}

.text {
    font-size: 14px;
    line-height: 20px;
    color: rgb(143, 144, 145) ;
}

.img-1 {
    filter: invert();
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);         
}

.img-bg-1 {
    position: relative;
    width: 160px;
    height: 160px;
    background-color: rgb(124, 194, 206);
    border-radius: 5px;
    margin: auto;
    color: rgb(124, 194, 206);
}
.number-1 {
    position:absolute;
     left: -15px;
     top: -15px;
     width: 20px;
     height: 20px;
     padding: 5px;
     border-radius: 30px;
     border: 4px solid rgb(124, 194, 206);
     background-color: white;
    }

    .img-2 {
        filter: invert();
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);         
    }
    
    .img-bg-2 {
        position: relative;
        width: 160px;
        height: 160px;
        background-color: rgb(66, 97, 184);
        border-radius: 5px;
        margin: auto;
        color: rgb(66, 97, 184);

    }
    .number-2 {
        position:absolute;
         left: -15px;
         top: -15px;
         width: 20px;
         height: 20px;
         padding: 5px;
         border-radius: 30px;
         border: 4px solid rgb(66, 97, 184);
         background-color: white;
    }

.img-3 {
    filter: invert();
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);         
}

.img-bg-3 {
    position: relative;
    width: 160px;
    height: 160px;
    background-color: rgb(233, 84, 38);
    border-radius: 5px;
    margin: auto;
    color: rgb(233, 84, 38);
}

.number-3 {
    position:absolute;
     left: -15px;
     top: -15px;
     width: 20px;
     height: 20px;
     padding: 5px;
     border-radius: 30px;
     border: 4px solid rgb(233, 84, 38);
     background-color: white;
}

.img-4 {
    filter: invert();
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);         
}

.img-bg-4 {
    position: relative;
    width: 160px;
    height: 160px;
    background-color: rgb(143, 144, 145);
    border-radius: 5px;
    margin: auto;
    color: rgb(143, 144, 145);
}

.number-4 {
    position:absolute;
     left: -15px;
     top: -15px;
     width: 20px;
     height: 20px;
     padding: 5px;
     border-radius: 30px;
     border: 4px solid rgb(143, 144, 145);
     background-color: white;
}

/*.img-2 {
    width:160px;
    height: 160px;
    filter:invert();
    background-color: yellow;
}

.number-2 {
position:fixed;
 margin-top: -180px;
 margin-left: 5px;
 width: 20px;
 height: 20px;
 padding: 5px;
 border-radius: 30px;
 border: 4px solid rgb(35, 60, 173);
 background-color: white
}

.img-3 {
    width: 160px;
    height: 160px;
    filter: invert();
    background-color:turquoise;
}

.number-3 {
    position:fixed;
     margin-top: -180px;
     margin-left: 5px;
     width: 20px;
     height: 20px;
     padding: 5px;
     border-radius: 30px;
     border: 4px solid rgb(184, 79, 18);
     background-color: white;
    }

.img-4 {
    width:160px;
    height: 160px; 
}

.number-4 {
    position:fixed;
     margin-top: -180px;
     margin-left: 5px;
     width: 20px;
     height: 20px;
     padding: 5px;
     border-radius: 30px;
     border: 4px solid black;
     background-color: white;
    }